<div class="lander">
    <img src="../../../assets/S1e10_doofy.webp"/>
    <p>I don't... I don't know much about coding but well, I sure could go for a pizza
        What are.. what are you waiting for?
    </p>
    <img src="../../../assets/rickpizza.png"/>
    <a href="/add"><button class="btn btn-success">ORDER NOW!!!</button>
    </a>

    <div class="menu">
        <img src="../../../assets/full-menu.jpeg"/>
        <a id="mb" href="https://www.dominos.com/en/pages/order/menu"><button routerLink="add" class="btn btn-success">Show Menu</button>
    </a>
    </div>
</div>