
<div *ngIf="!submitted">
<div style="float:left;">
  Current Pizzas w this Order
  X to remove
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let pizza of tutorial.pizzas; let i = index"
    >
      1 order of {{ pizza.ptopping }}{{ pizza.pbase }}{{ pizza.psize }} <span  (click)="removePizza(pizza)">X</span>
    </li>
  </ul>
</div>
</div>

<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Customer Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
        
      </div>

      <div class="form-group">
        <label for="description">Delivery Address</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <h2>First Pizza</h2>

      <div class="form-group">
        <label for="psize">Select Pizza Size</label>
        <select [(ngModel)]='pizza.psize' name="psize" id="psize" class='form-control'>
          <option value="12">12 inch</option>
          <option value="14">14 inch</option>
          <option value="16">16 inch</option>
        </select>  
      </div>

      <div class="form-group">
        <label for="pbase">Select Pizza Base</label>
        <select [(ngModel)]='pizza.pbase' name="pbase" id="pbase" class='form-control'>
          <option value="Thin">Thin Crust</option>
          <option value="Thick">Thick Crust</option>
          <option value="DeepDish">Deep Dish</option>
        </select>  
      </div>

      <div class="form-group">
        <label for="ptopping">Select Pizza Topping</label>
        <select [(ngModel)]='pizza.ptopping' name="ptopping" id="ptopping" class='form-control'>
          <option value="Mustard">Grey Poupon</option>
          <option value="Meatballs">Possum Meatballs</option>
          <option value="Veg">Assorted Sprouts & Flowers</option>
        </select>  
      </div>

      <div>
      <button (click)="saveTutorial()" class="btn btn-success">Submit Order</button>
      <br/><br/>
      <button class="btn btn-success" [disabled]="pizza.ptopping == '' || pizza.pbase == '' || pizza.psize == ''" (click)="newPizza()">Add Another Pizza</button>
      </div>
    </div>


    <div *ngIf="submitted">
      <h4>order was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add Another Order</button>
    </div>
  </div>
</div>
