<div>

    <h3>Our New Large Thick Crust Meatball Pizza!</h3>
    <div>
        <img src="../../../assets/meatball.jpg"/>
        <a
            class="badge badge-warning"
            href="/add/16TTMeatballs"
            >
            Order Now
        </a>
    </div>

    <h3>Get your mustard on, large thick crust drenched with grey poupon</h3>
    <div>
        <img src="../../../assets/mustard.jpg"/>
        <a
            class="badge badge-warning"
            href="/add/16TTMustard"
            >
            Order Now
        </a>

    </div>

    <h3>Wanting something lighter? Try our personal sized thin crust with veg</h3>
    <div>
        <img src="../../../assets/vegpizza.jpg"/>
        <a
            class="badge badge-warning"
            href="/add/12TVeg"
            >
            Order Now
        </a>

    </div>

</div>